AWSTemplateFormatVersion: "2010-09-09"
Description: Deploy an API Gateway HTTP API

Parameters:
  APIName:
    Type: String
    Description: API Name
  UserPoolName:
    Type: String
    Default: chapter4-userpool
    Description: The name for the Cognito User Pool
  Username:
    Type: String
    Description: The username for the initial user
  UserEmail:
    Type: String
    Description: The email for the initial user

Resources:
  # FRONTEND

  S3Bucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Join
        - "-"
        - - "frontend-chapter-4"
          - !Select
            - 0
            - !Split
              - "-"
              - !Select
                - 2
                - !Split
                  - "/"
                  - !Ref "AWS::StackId"
      AccessControl: Private
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      WebsiteConfiguration:
        IndexDocument: index.html

  CloudFrontOriginAccessIdentity:
    Type: AWS::CloudFront::CloudFrontOriginAccessIdentity
    Properties:
      CloudFrontOriginAccessIdentityConfig:
        Comment: !Sub "Origin Access Identity for ${AWS::StackName}"

  S3BucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref S3Bucket
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              AWS: !Sub "arn:aws:iam::cloudfront:user/CloudFront Origin Access Identity ${CloudFrontOriginAccessIdentity.Id}"
            Action: "s3:GetObject"
            Resource: !Sub "${S3Bucket.Arn}/*"

  CloudFrontDistribution:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        DefaultCacheBehavior:
          ForwardedValues:
            QueryString: false
          TargetOriginId: !Sub "origin-${AWS::StackName}"
          ViewerProtocolPolicy: redirect-to-https
        CustomErrorResponses:
          - ErrorCode: 403
            ResponseCode: 200
            ResponsePagePath: /
            ErrorCachingMinTTL: 0
        DefaultRootObject: index.html
        Enabled: true
        HttpVersion: "http2"
        IPV6Enabled: true
        Origins:
          - Id: !Sub "origin-${AWS::StackName}"
            DomainName: !GetAtt S3Bucket.RegionalDomainName
            S3OriginConfig:
              OriginAccessIdentity: !Sub "origin-access-identity/cloudfront/${CloudFrontOriginAccessIdentity.Id}"
        PriceClass: PriceClass_100
        ViewerCertificate:
          CloudFrontDefaultCertificate: true

  # BACKEND

  # DATA LAYER

  RecipesTable:
    Type: AWS::DynamoDB::Table
    Properties:
      AttributeDefinitions:
        - AttributeName: id
          AttributeType: S
      KeySchema:
        - AttributeName: id
          KeyType: HASH
      BillingMode: PAY_PER_REQUEST
      TableName: recipes
  # AUTHENTICATION

  CognitoUserPool:
    Type: AWS::Cognito::UserPool
    Properties:
      UserPoolName: !Ref UserPoolName
      AutoVerifiedAttributes:
        - email
      Policies:
        PasswordPolicy:
          MinimumLength: 6
          RequireLowercase: false
          RequireNumbers: false
          RequireSymbols: false
          RequireUppercase: false
      MfaConfiguration: "OFF"
      AccountRecoverySetting:
        RecoveryMechanisms:
          - Name: verified_email
            Priority: 1
      AdminCreateUserConfig:
        AllowAdminCreateUserOnly: true
        InviteMessageTemplate:
          EmailMessage: "Hello {username} from Recipe Sharring Serverless Application.\nYour temporary password is {####}"
          EmailSubject: "Chapter4 - Your temporary password"
      EmailConfiguration:
        EmailSendingAccount: COGNITO_DEFAULT
      Schema:
        - Name: email
          Required: true
          Mutable: true

  CognitoUserPoolClient:
    Type: AWS::Cognito::UserPoolClient
    Properties:
      ClientName: my-user-pool-client
      GenerateSecret: false
      UserPoolId: !Ref CognitoUserPool

  CognitoUserPoolUser:
    Type: AWS::Cognito::UserPoolUser
    Properties:
      UserAttributes:
        - Name: email
          Value: !Ref UserEmail
      UserPoolId: !Ref CognitoUserPool
      Username: !Ref Username
      DesiredDeliveryMediums:
        - EMAIL
  # API

  HttpApi:
    Type: AWS::ApiGatewayV2::Api
    Properties:
      Name: !Ref APIName
      ProtocolType: HTTP
      Description: Recipe Sharing Applicatoin - Serverless API
      CorsConfiguration:
        AllowOrigins:
          - "*"
        AllowMethods:
          - GET
          - POST
          - PUT
          - DELETE
        AllowHeaders:
          - "*"

  HttpApiStage:
    Type: AWS::ApiGatewayV2::Stage
    Properties:
      ApiId: !Ref HttpApi
      StageName: dev
      AutoDeploy: true

  JWTAuthorizer:
    Type: AWS::ApiGatewayV2::Authorizer
    Properties:
      ApiId: !Ref HttpApi
      Name: CognitoAuthorizer
      AuthorizerType: JWT
      IdentitySource:
        - "$request.header.Authorization"
      JwtConfiguration:
        Audience:
          - !Ref CognitoUserPoolClient
        Issuer: !Sub "https://cognito-idp.${AWS::Region}.amazonaws.com/${CognitoUserPool}"

  # 0 - TESTAUTH ROUTE

  # PERMISSIONS

  LambdaExecutionAuthRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
            Action:
              - "sts:AssumeRole"
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole

  AuthTestLambdaPermission:
    Type: AWS::Lambda::Permission
    Properties:
      FunctionName: !Ref AuthTestLambdaFunction
      Action: lambda:InvokeFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Join
        - ""
        - - "arn:aws:execute-api:"
          - !Ref "AWS::Region"
          - ":"
          - !Ref "AWS::AccountId"
          - ":"
          - !Ref HttpApi
          - "/*/*"

  # LAMBDA

  AuthTestLambdaFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: testauth
      Runtime: python3.9
      Handler: index.lambda_handler
      Code:
        ZipFile: |
          import json

          def lambda_handler(event, context):
              response = {
                  "statusCode": 200,
                  "body": json.dumps({"message": "You've passed the authentication token"})
              }
              return response
      Role: !GetAtt LambdaExecutionAuthRole.Arn
      Timeout: 60
# ROUTE

# 1 - HEALTHCHECK ROUTE

# PERMISSIONS

# LAMBDA

# ROUTE

# 2 - GET RECEIPES ROUTE

# PERMISSIONS

# LAMBDA

# ROUTE

# 3 - CREATE RECIPE ROUTE

# PERMISSIONS

# LAMBDA

# ROUTE

# 4 - DELETE RECIPE ROUTE

# PERMISSIONS

# LAMBDA

# ROUTE

# 5 - LIKE RECIPE ROUTE

# PERMISSIONS

# LAMBDA

# ROUTE

# OUTPUTS

